<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="horizontalflex.css">

</head>
<body>
    <div class="flex-container" style="margin-top: 20px; height: 700px; ">
        <div class="flex-item">
          <a style="text-decoration: none; color: white" href="ALBtsMidnights.html" target="_self">
            <p class="text-container1" style="font-size: 50px;">MIDNIGHTS<br>(2022)</p>
          </a>
        </div>
        <div class="flex-item">
          <a style="text-decoration: none; color: white" href="ALBtsEvermore.html" target="_self">
            <p class="text-container1" style="font-size: 50px;">EVERMORE<br>(2021)</p>
          </a>
        </div>
        <div class="flex-item">
          <a style="text-decoration: none; color: white" href="ALBtsRed.html" target="_self">
            <p class="text-container1" style="font-size: 70px;">RED<br>(2021)</p>
          </a>
        </div>
        <div class="flex-item">
          <a style="text-decoration: none; color: white" href="ALBtsFolklore.html" target="_self">
            <p class="text-container1" style="font-size: 55px;">FOLKLORE<br>(2020)</p>
          </a>
        </div>
        <div class="flex-item">
          <a style="text-decoration: none; color: white" href="ALBtsLover.html" target="_self">
            <p class="text-container1" style="font-size: 70px;">LOVER<br>(2019)</p>
          </a>
        </div>
    
      </div>
</body>
</html>