<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="listbox.css">
		<link rel="icon" href="../img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | ÷</title>
	</head>
		
	<body>
        <div class="ncbox">
			<div class="item">Mango Juice</div>
			<div class="canteen">JC</div>
			<div class="category">Beverages</div>
			<div class="price">Rs. 38</div>
			<div class="add-button">
				<button id="addtoplaylist">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>	
			</div>
		</div>
    </body>
</html>