<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="nav.css" />
    <title>TuneVault | Search</title>
  </head>
  <body>
    <nav style="font-family: Arial, Helvetica, sans-serif">
      <a id="clicktohome" href="home.html"
        ><img
          src="../static/logo.png"
          alt="Site logo"
          style="height: 100px; margin-left: 50px"
      /></a>
      <ul
        style="
          width: 40%;
          float: right;
          margin-right: 50px;
          text-align: center;
          margin-top: 20px;
          font-family: Courier Prime, Arial;
        "
      >
        <li><a href="canteens.html">Canteens</a></li>
        <li><a href="deliver.html">Deliver</a></li>
        <li><a href="categories.html">Categories</a></li>
        <li><a href="cart.html">Cart</a></li>
      </ul>
    </nav>
  </body>
</html>
